body {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

.container {
    position: relative;
    margin-top: 100px;
    width: 700px;
    height: auto;
    background: white;
    border-radius: 10px;
}

.label {
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: burlywood;
}

.login_form {
    padding: 20px 40px;
}

.login_form .font {
    font-size: 18px;
    color: black;
    margin: 5px 0;
}

.login_form input {
    height: 40px;
    width: 550px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.login_form input:hover{
    background-color: beige;
}

.login_form .font2 {
    margin-top: 30px;
}

.login_form .button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
    
}

.login_form .button:hover {
    background: gray;
}

.login_form #user_error,
.login_form #pass_error ,#wrongCredentials{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}