body {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

.container {
    position: relative;
    margin-top: 100px;
    width: 600px;
    height: auto;
    background: white;
    border-radius: 5px;
}

.label {
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
    background-color: burlywood;
    text-align: center;
}


.regist_form {
    padding: 20px 40px;
}



.regist_form .input {
    height: 40px;
    width: 500px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    
}
.regist_form .input:hover{
    background-color: beige;
}

.regist_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}

.regist_form .font2 {
    margin-top: 30px;
}

.regist_form .font3 {
    margin-top: 30px;
}

.regist_form .font4 {
    margin-top: 30px;
}

.regist_form .button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid black;
}

.regist_form .button:hover {
    background: gray;
}

.regist_form #user_error,
.regist_form #pass_error,
.regist_form #passconf_error,
.regist_form #email_error,
.regist_form #gender_error ,
.regist_form #passmatch_error
{
    margin-top: 0;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: #EF9A9A;
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

#gender {
    padding-top: 25px;
    color: #130f40;
}

.divgender {
    margin-top: 20px;
    color: #130f40;
}